html {
  max-width: 100%;
}
body {
  font-family: "Lexend Deca";
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}
h1 {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  color: hsl(0, 0%, 95%);
}
.container {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}
.card {
  display: inline-block;
  color: hsla(0, 0%, 100%, 0.75);
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
}
#card1 {
  background-color: hsl(31, 77%, 52%);
}
#card2 {
  background-color: hsl(184, 100%, 22%);
}
#card3 {
  background-color: hsl(179, 100%, 13%);
}
.icon {
  width: 40%;
  height: 10%;
  border: none;
}
.btn {
  width: fit-content;
  margin-top: 30%;
  padding-bottom: 2vh;
  padding-top: 2vh;
  padding-right: 5vh;
  padding-left: 5vh;
  background-color: hsl(0, 0%, 95%);
  border-radius: 27vh;
}
#btn1 {
  color: hsl(31, 77%, 52%);
  border: 1px solid;
}
#btn1:hover {
  background-color: hsl(31, 77%, 52%);
  border-color: hsl(0, 0%, 95%);
  border: 1px solid;
  color: hsl(0, 0%, 95%);
}
#btn2 {
  color: hsl(184, 100%, 22%);
  border: 1px solid;
}
#btn2:hover {
  background-color: hsl(184, 100%, 22%);
  border-color: hsl(0, 0%, 95%);
  border: 1px solid;
  color: hsl(0, 0%, 95%);
}
#btn3 {
  color: hsl(179, 100%, 13%);
  border: 1px solid;
}
#btn3:hover {
  background-color: hsl(179, 100%, 13%);
  border-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

.content {
  margin-right: 6%;
  margin-left: 6%;
}

@media screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-top: 4vh;
    margin-bottom: 3vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
  }

  .card {
    width: 85%;
    color: hsla(0, 0%, 100%, 0.75);
    padding-right: 2vh;

    margin-left: 3%;
    margin-right: 3%;
  }

  .icon {
    width: 26%;
    height: 1%;
    padding-left: 2vh;
    padding-top: 4vh;
    border: none;
  }
  .content {
    margin-right: 15%;
    margin-left: 7%;
  }
  .btn {
    margin-left: 2vh;
    margin-bottom: 7vh;
  }

  #btn1 a:hover {
    border-color: hsl(0, 0%, 95%);
  }
}
